body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    position: relative;
}

.earth {
    position: relative;
    z-index: 1;
    width: 700px;
    height: 700px;
}

.earth img {
    width: 100%;
    height: auto;
}

.moon {
    position: absolute;
    width: 200px;
    height: 200px;
    animation: 5s orbita linear infinite;
    top: 100px; left: 600px;
    z-index: 0;
}

.moon img {
    width: 100%;
    height: auto;
}

@keyframes orbita {
    0% {top: 40px; left: 700px; z-index: 2; transform: scale(1);}
    12% {top: 140px; left: 500px; z-index: 2; transform: scale(1.1);}
    25% {top: 270px; left: 310px; z-index: 2; transform: scale(1.3);}
    37% {top: 400px; left: 120px; z-index: 2; transform: scale(1.1);}
    50% {top: 500px; left: -100px; z-index: 2; transform: scale(1);}
    51% {top: 500px; left: -100px; z-index: 0; transform: scale(1);}
    62% {top: 400px; left: 120px; z-index: 0; transform: scale(0.9);}
    75% {top: 270px; left: 310px; z-index: 0; transform: scale(0.7);}
    87% {top: 140px; left: 500px; z-index: 0; transform: scale(0.9);}
    100% {top: 40px; left: 700px; z-index: 0; transform: scale(1);}
}